@media only screen and (max-width: 1920px) {
    ol, ul {
        list-style: none;
        margin: 0;
        padding: 0;
    }

    a {
        color: #333;
        text-decoration: none;
    }

    a:hover {
        color: #d0082d;
        text-decoration: underline;
    }

    .col2-left-layout {
        padding: 0;
        margin: 0 0;
    }

    .main-container {
        margin-bottom: 70px;
        position: relative;
        padding: 0;
    }
    .main{
        display: flex;
    }

    .main-content {
        display: flex;
        max-width: 1160px;
        margin: 0 auto;
        border-top: 1px solid #f5f5f5;
        padding: 20px 0;
    }



    .col-left, .col-right, .col-main {
        padding: 0 10px;
    }

    .col-left {
        float: left;
        width: 17.24%;
        padding-left: 0;
        clear: left;
    }

    .sidebar {
        background-color: #333333;
        padding: 0;
    }

    .col-left-first {
        margin-bottom: 20px;
        max-height: 235px;
        min-width: 200px;
    }
    .col-left-bottom{
        display: none;
    }

    .block, .col-left-first {
        margin-bottom: 20px;
    }

    .col-left-first .block:last-of-type {
        margin-bottom: 0;
    }

    .block-account li, .block-cms-menu li {
        margin: 7px 0;
        list-style: none;
    }

    .block-account li a, .block-cms-menu li a {
        color: #636363;
    }

    .block-account li a:hover, .block-cms-menu li a:hover {
        color: #3399cc;
    }

    .sidebar .block-content ul li:hover {
        background-color: #d0082d;
        transition: all 0.3s ease;
    }

    .sidebar .block-content ul li a {
        display: block;
        color: #FFF;
        padding: 0 30px;
        line-height: 40px;
        text-decoration: none;
        outline: 0;
        font-size: 16px;
    }

    .block-title {
        position: relative;
        margin-bottom: 5px;
        /* border-top: 1px solid #cccccc; */
    }

    strong {
        font-weight: bold;
    }

    .block-title h2, .block-title h3, .block-title strong {
        font-size: 14px;
        font-style: normal;
        line-height: 1.4;
        text-rendering: optimizeSpeed;
        color: #333;
        margin: 0;
        font-weight: 600;
    }

    a:hover, a:focus, a:visited {
        text-decoration: none;
    }

    .sidebar .block-title a {
        display: block;
        color: #FFF;
        padding: 0 30px;
        line-height: 40px;
        text-decoration: none;
        outline: 0;
        font-size: 16px;
        text-transform: uppercase;
        font-family: 'Montserrat', sans-serif;
    }

    .block-account .block-title, .block-cms-menu .block-title {
        padding-top: 0;
        border-top: none;
    }

    .sidebar .block-title {
        text-align: center;
    }

    .block-content {
        margin-top: 5px;
    }

    .col2-left-layout .col-main {
        float: right;
        padding-right: 0;
    }

    .my-account {
        padding: 0 15px 0 15px;
    }

    .col-main .page-title {
        text-align: center;
        font-weight: 600;
    }

    .page-title h1, .page-title h2, .product-name h1, .product-name .h1 {
        font-size: 24px;
        color: #333;
        padding-bottom: 3px;
        margin-bottom: 15px;
    }

    .my-account .page-title h1 {
        border: 0;
        text-align: left;
        font-weight: 500;
    }

    .col-main .page-title h1 {
        margin-top: 20px;
        text-transform: uppercase;
        text-align: center !important;
    }

    .welcome-msg p {
        padding-bottom: 15px;
        margin-bottom: 0;
    }

    .welcome-msg p strong {
        font-family: 'Montserrat', sans-serif;
        font-size: 14px;
    }

    .col-main {
        background-color: #ffffff;
        margin-left: 30px;
        width: 80%;
        border: 1px solid #eeeeee;
        padding-bottom: 20px;
         float: left;
    }

    .messages {
        margin-bottom: 10px;
        padding-left: 0;
    }

    .messages .success-msg li {
        color: black;
        border-left: 5px solid #11b400;
        background-color: #eff5ea;
    }

    .messages .success-msg li:before {
        content: '';
        position: absolute;
        width: 0;
        height: 0;
        display: block;
        border-top: 6px solid transparent;
        border-bottom: 6px solid transparent;
        border-left: 6px solid #11b400;
        border-right: none;
        top: 50%;
        left: 0;
        margin-top: -6px;
    }

    .messages li {
        list-style: none;
    }

    .messages li ul {
        padding-left: 0;
    }

    .messages li li {
        position: relative;
        margin-bottom: 5px;
        padding: 7px 10px 7px 20px;
        background: #f4f4f4;
        font-size: 15px;
    }

    .messages li li:before {
        top: 50%;
        left: 0;
        margin-top: -6px;

    }

    .dashboard .box-account {
        margin-bottom: 45px;
    }

    .dashboard .box-head {
        margin-top: 15px;
    }

    .dashboard .box-head h2 {
        font-size: 16px;
        font-weight: 600;
        display: inline-block;
        margin-bottom: 0;
        text-transform: uppercase;
        padding-bottom: 20px;
    }

    .dashboard .box-head a {
        padding: 10px;
    }

    .dashboard .box-title a, .dashboard .box-head a {
        font-size: 12px;
    }

    .dashboard .col2-set {
        background-color: #f8f8f8;
        padding: 15px;
    }

    .col2-set {
        width: 100%;
        display: flex;
    }

    .col2-set .col-1, .col2-set .col-2 {
        width: 50%;
        padding: 20px;
    }

    .col2-set .col-1 {
        float: left;
        padding-left: 0;
    }

    .dashboard .col2-set .col-1, .dashboard .col2-set .col-2 {
        padding-top: 0;
        padding-right: 12.09677%;
        padding-bottom: 0;
    }

    .dashboard .col2-set .col-1 .box-title, .dashboard .col2-set .col-2 .box-title {
        position: relative;
        padding-bottom: 10px;
    }

    .dashboard .col2-set .col-1 .box-title h2, .dashboard .col2-set .col-1 .box-title h3, .dashboard .col2-set .col-2 .box-title h2, .dashboard .col2-set .col-2 .box-title h3 {
        font-weight: 600;
        font-size: 14px;
        margin-bottom: 0;
    }

    .dashboard .col2-set .col-1 .box-title a, .dashboard .col2-set .col-2 .box-title a {
        line-height: 20px;
    }

    .dashboard .box-account p, .dashboard .box-account address {
        font-style: italic;
    }

    .col2-set .col-2 {
        float: right;
        padding-right: 0;
    }

}

@media only screen and (max-width: 1168px) {
    .main-container {
        padding: 0;
        margin: 0 0;
        display: flex;
    }
}

@media only screen and (max-width: 991px) {
    .col-left-first {
        min-width: 150px;
        max-width: 80px;
        max-height: 40px;
    }
}

@media only screen and (max-width: 767px) {
    .main-content {
        display: inline;
    }

    .col-main {
        width: 100%;
        padding-left: 0;
    }

    .col-left-first {
        min-width: 100%;
        max-width: 100%;
        max-height: 40px;
        margin-bottom: 5px;
    }

    .col2-set {
        display: flex;
        flex-direction: column;
    }

    .col-1 {
        width: 100% !important;
        padding: 0 !important;
    }

    .col-2 {
        width: 100% !important;
        padding: 0 !important;
    }
}